<!DOCTYPE html>
<html>
<head>

<title>Register</title>
<link rel="stylesheet" href="/css/style.css">

</head>

<body class="auth-bg">

<div class="card auth-card p-4">

<h3 class="text-center mb-3">Register</h3>

<form id="registerForm">

<input id="name" class="form-control mb-2" placeholder="Name">
<input id="email" class="form-control mb-2" placeholder="Email">
<input type="password" id="password" class="form-control mb-2" placeholder="Password">
<input type="password" id="confirmPassword" class="form-control mb-3" placeholder="Confirm Password">

<button type="submit" class="btn btn-dark w-100">Register</button>

</form>

<div class="text-center mt-3">
<a href="/">Login</a>
</div>

</div>

<script src="/js/api.js"></script>
<script src="/js/app.js"></script>
<script src="/js/register.js"></script>

</body>
</html>